@import "~bootstrap/scss/bootstrap";

body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color:#FAFEFE;
  background-color: #101010;
  
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6{
  margin: 0
}

@media screen and (min-width: 1000px) {
  .teste{
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .teste2{
    display: none;
  }
}

:root {
  --swiper-navigation-color: #5aac98;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #5aac98;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #5aac98;
}

.carousel .carousel-indicators button {background-color: black;}
.carousel .carousel-indicators button.active {background-color: #5aac98;}


/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 20px;
}

.menu-item {
  margin-bottom: 2rem;
  color:white;
  font-size: 20px;
  font-weight: 700;
  
  &:hover{
    color:#5aac98!important;
  }
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #5aac98;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #5aac98;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}